* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  padding-top: 5rem;
}

p {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.state-button {
  width: 8rem;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
