* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ecf0f1;
}

.form-maintain {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  padding: 2rem 1rem 1rem 1rem;
  width: 25rem;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 0.9rem;
  margin-top: 1rem;
}

label {
  margin-top: 1rem;
}

input {
  width: 27rem;
  padding: 0.5rem 0.5rem;
  background-color: #ecf0f1;
  border: none;
  outline: none;
  width: 23rem;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: #3498db;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  cursor: pointer;
}

.summary {
  text-align: center;
  width: 100%;
  position: absolute;
  margin-bottom: 40rem;
  background-color: #ecf0f1;
}

.summary p {
  font-size: 1.3rem;
}

.summary span {
  font-weight: bold;
  color: #00a8ff;
}
