.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 2rem 60rem;
  background: #2c3e50;
  color: #fff;
  font-size: 1.8rem;
  width: 18rem;
  padding: 1.2rem 2.4rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

button:hover {
  background: #27ae60;
}

h1 {
  font-size: 4rem;
  color: #2c3e50;
}

h2 {
  font-size: 1.3rem;
}

/* .main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div .g-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 30rem;
  border: 6px solid #000;
  width: 75rem;
  height: 34rem;
  background-color: #2980b9;
}

.main-div .p-div {
  border: 6px solid #000;
  width: 63rem;
  height: 22rem;
  background-color: #27ae60;
}

.main-div .c-div {
  margin: 7rem 5rem;
  border: 6px solid #000;
  width: 51rem;
  height: 7rem;
  background-color: #f39c12;
  font-size: 1.5rem;
} */
